<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Aman Tamboli: CI/CI with Jenkins and ArgoCD</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="../assets/img/mylogo.png" rel="icon">
  <link href="../assets/img/apple-touch-icon.png" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link
    href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i"
    rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="../assets/vendor/aos/aos.css" rel="stylesheet">
  <link href="../assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="../assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
  <link href="../assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
  <link href="../assets/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
  <link href="../assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="../assets/css/style.css" rel="stylesheet">

  <!-- =======================================================
  * Template Name: iPortfolio - v3.7.0
  * Template URL: https://bootstrapmade.com/iportfolio-bootstrap-portfolio-websites-template/
  * Author: BootstrapMade.com
  * License: https://bootstrapmade.com/license/
  ======================================================== -->
</head>

<body>

  <!-- ======= Mobile nav toggle button ======= -->
  <i class="bi bi-list mobile-nav-toggle d-xl-none"></i>

  <!-- ======= Header ======= -->
  <header id="header">
    <div class="d-flex flex-column">

      <div class="profile">
        <img
          src="https://media-exp1.licdn.com/dms/image/C5603AQG3mb6Bc3Xt7g/profile-displayphoto-shrink_800_800/0/1639914440970?e=1656547200&v=beta&t=l0joowazqiix-1mie-mZWwQ-LQXD8ti0ao4_IFDDlk4"
          alt="" class="img-fluid rounded-circle">
        <h1 class="text-light"><a href="index.html">Aman Tamboli</a></h1>
        <div class="social-links mt-3 text-center">
          <a href="https://github.com/amantamboli/" class="twitter" target="_blank"><i class="bx bxl-github"></i></a>
          <a href="https://t.me/tamboliaman" class="telegram"><i class="bx bxl-telegram" target="_blank"></i></a>
          <a href="https://www.linkedin.com/in/amantamboli/" class="linkedin"><i class="bx bxl-linkedin"
              target="_blank"></i></a>
          <a href="mailto: amantamboli7781@gmail.com" class="linkedin"><i class="bx bx-envelope"
              target="_blank"></i></a>
        </div>
      </div>

      <nav id="navbar" class="nav-menu navbar">
        <ul>
          <li><a href="#hero" class="nav-link scrollto active"><i class="bx bx-home"></i> <span>Home</span></a></li>
          <li><a href="#about" class="nav-link scrollto"><i class="bx bx-user"></i> <span>About</span></a></li>
          <li><a href="#resume" class="nav-link scrollto"><i class="bx bx-file-blank"></i> <span>Resume</span></a></li>
          <li><a href="#portfolio" class="nav-link scrollto"><i class="bx bx-book-content"></i>
              <span>Portfolio</span></a></li>
          <li><a href="#contact" class="nav-link scrollto"><i class="bx bx-envelope"></i> <span>Contact</span></a></li>
        </ul>
      </nav><!-- .nav-menu -->
    </div>
  </header><!-- End Header -->

  <main id="main">

    <!-- ======= Breadcrumbs ======= -->
    <section id="breadcrumbs" class="breadcrumbs">
      <div class="container">

        <div class="d-flex justify-content-between align-items-center">
          <h2>CI/CD with Jenkins and ArgoCD</h2>
          <ol>
            <li><a href="https://github.com/amantamboli/jenkin-cicd">View GitHub</a></li>
            
          </ol>
        </div>

      </div>
    </section><!-- End Breadcrumbs -->

    <!-- ======= Portfolio Details Section ======= -->
    <section id="portfolio-details" class="portfolio-details">
      
      <div class="container">
        <div class="row gy-4">

          <div class="col-lg">
            <div class="portfolio-details-slider swiper">
              <div class="swiper-wrapper align-items-center">

                <div class="swiper-slide">
                  <img src="../assets/img/devpos/Jenkins.png" alt="">
                </div>

                <div class="swiper-slide">
                  <img src="../assets/img/devpos/jenkin1.png" alt="">
                </div>

                <div class="swiper-slide">
                  <img src="../assets/img/devpos/jenkin2.png" alt="">
                </div>
                <div class="swiper-slide">
                  <img src="../assets/img/devpos/jenkin3.png" alt="">
                </div>

              </div>
              <div class="swiper-pagination"></div>
            </div>
          </div>

          <div class="col-lg-4">
            <div class="portfolio-description">
              <h2>Introdcution</h2>
              <p>
                A Monitoring App, developed using Flask and empowered by a streamlined CI/CD pipeline orchestrated with
                Jenkins, Docker, Argo CD, and Kubernetes. This monitoring application is designed to provide real-time
                insights into your system's performance, offering a seamless experience for tracking and managing key
                metrics.
              </p>
            </div>


          </div>

        </div>
        <div class="row gy-4">
          <div class="portfolio-info">
            <h3>Jenkins Pipeline for Python Flask Application with Argo CD and Kubernetes</h3>
            <h3>CI/CD Pipeline Overview</h3>

            <p>CI/CD pipeline, created with Jenkins and ArgoCD, ensures the smooth and automated delivery of updates to
              the Monitoring App. The pipeline consists of the following key stages:</p>
            <ol>
              <li><strong> Building Docker Image</strong>: Jenkins orchestrates the creation of a Docker image for the
                Monitoring App from the provided Dockerfile. This guarantees a consistent and reproducible environment
                for your application.</li>
              <li><strong>Pushing Image to Docker Hub</strong>: Once the Docker image is built, Jenkins seamlessly
                pushes it to Docker Hub, making it readily available for deployment and distribution. </li>
              <li><strong>Running SonarQube Analysis</strong>: Before deployment, our pipeline includes a stage for
                SonarQube analysis. This ensures code quality and identifies potential issues early in the development
                process. Jenkins interacts with SonarQube to provide detailed insights into the codebase. </li>
              <li><strong> Updating Manifests Repository</strong>: CD process is managed by Argo CD, which automates the
                deployment of the Monitoring App to a Kubernetes cluster. Argo CD reads the updated manifests files
                updated by Jenkins, ensuring that Kubernetes environment is always up to date with the latest version of
                the application. </li>
              </oql>
          </div>
        </div>

      </div>
    </section><!-- End Portfolio Details Section -->

  </main><!-- End #main -->

  <!-- ======= Footer ======= -->
  <footer id="footer">
    <div class="container">
      <div class="copyright">
        <strong><span>Aman Tamboli</span></strong>
      </div>

    </div>
  </footer><!-- End  Footer -->

  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i
      class="bi bi-arrow-up-short"></i></a>

  <!-- Vendor JS Files -->
  <script src="assets/vendor/purecounter/purecounter.js"></script>
  <script src="assets/vendor/aos/aos.js"></script>
  <script src="assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="assets/vendor/glightbox/js/glightbox.min.js"></script>
  <script src="assets/vendor/isotope-layout/isotope.pkgd.min.js"></script>
  <script src="assets/vendor/swiper/swiper-bundle.min.js"></script>
  <script src="assets/vendor/typed.js/typed.min.js"></script>
  <script src="assets/vendor/waypoints/noframework.waypoints.js"></script>
  <script src="assets/vendor/php-email-form/validate.js"></script>

  <!-- Template Main JS File -->
  <script src="assets/js/main.js"></script>

</body>

</html>