<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Aman Tamboli: Docker</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="../assets/img/mylogo.png" rel="icon">
  <link href="../assets/img/apple-touch-icon.png" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link
    href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i"
    rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="../assets/vendor/aos/aos.css" rel="stylesheet">
  <link href="../assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="../assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
  <link href="../assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
  <link href="../assets/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
  <link href="../assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="../assets/css/style.css" rel="stylesheet">

  <!-- =======================================================
  * Template Name: iPortfolio - v3.7.0
  * Template URL: https://bootstrapmade.com/iportfolio-bootstrap-portfolio-websites-template/
  * Author: BootstrapMade.com
  * License: https://bootstrapmade.com/license/
  ======================================================== -->
</head>

<body>

  <!-- ======= Mobile nav toggle button ======= -->
  <i class="bi bi-list mobile-nav-toggle d-xl-none"></i>

  <!-- ======= Header ======= -->
  <header id="header">
    <div class="d-flex flex-column">

      <div class="profile">
        <img
          src="https://media-exp1.licdn.com/dms/image/C5603AQG3mb6Bc3Xt7g/profile-displayphoto-shrink_800_800/0/1639914440970?e=1656547200&v=beta&t=l0joowazqiix-1mie-mZWwQ-LQXD8ti0ao4_IFDDlk4"
          alt="" class="img-fluid rounded-circle">
        <h1 class="text-light"><a href="index.html">Aman Tamboli</a></h1>
        <div class="social-links mt-3 text-center">
          <a href="https://github.com/amantamboli/" class="twitter" target="_blank"><i class="bx bxl-github"></i></a>
          <a href="https://t.me/tamboliaman" class="telegram"><i class="bx bxl-telegram" target="_blank"></i></a>
          <a href="https://www.linkedin.com/in/amantamboli/" class="linkedin"><i class="bx bxl-linkedin"
              target="_blank"></i></a>
          <a href="mailto: amantamboli7781@gmail.com" class="linkedin"><i class="bx bx-envelope"
              target="_blank"></i></a>
        </div>
      </div>

      <nav id="navbar" class="nav-menu navbar">
        <ul>
          <li><a href="#hero" class="nav-link scrollto active"><i class="bx bx-home"></i> <span>Home</span></a></li>
          <li><a href="#about" class="nav-link scrollto"><i class="bx bx-user"></i> <span>About</span></a></li>
          <li><a href="#resume" class="nav-link scrollto"><i class="bx bx-file-blank"></i> <span>Resume</span></a></li>
          <li><a href="#portfolio" class="nav-link scrollto"><i class="bx bx-book-content"></i>
              <span>Portfolio</span></a></li>
          <li><a href="#contact" class="nav-link scrollto"><i class="bx bx-envelope"></i> <span>Contact</span></a></li>
        </ul>
      </nav><!-- .nav-menu -->
    </div>
  </header><!-- End Header -->

  <main id="main">

    <!-- ======= Breadcrumbs ======= -->
    <section id="breadcrumbs" class="breadcrumbs">
      <div class="container">

        <div class="d-flex justify-content-between align-items-center">
          <h2> Exploring Containerized Development with Docker</h2>
          <ol>
            <li><a href="https://github.com/amantamboli/docker-node-mongo">View GitHub</a></li>
            
          </ol>
        </div>

      </div>
    </section><!-- End Breadcrumbs -->

    <!-- ======= Portfolio Details Section ======= -->
    <section id="portfolio-details" class="portfolio-details">
      
      <div class="container">
        <div class="row gy-4">

          <div class="col-lg">
            <div class="portfolio-details-slider swiper">
              <div class="swiper-wrapper align-items-center">

                <div class="swiper-slide">
                  <img src="" alt="">
                </div>

              </div>
              <div class="swiper-pagination"></div>
            </div>
          </div>

          <div class="col-lg-4">
            <div class="portfolio-description">
              <h2>Introdcution</h2>
              <p>
                In the realm of modern application development, the significance of containerization has become increasingly apparent, offering a streamlined and consistent approach to deployment across various environments. This demonstration app serves as an insightful exploration into the world of containerized development, specifically focusing on the utilization of Docker for building a simple yet robust user profile application.
              </p>
            </div>


          </div>

        </div>
        <div class="row gy-4">
          <div class="portfolio-info">
            <h3>Key Components:</h3>
            <p>At the core of this demonstration are three fundamental components:</p>
            <ol>
              <li><strong>Frontend </strong>: Crafted with simplicity in mind, the user interface is developed using index.html, incorporating pure JavaScript and CSS styles to ensure a seamless and engaging user experience.</li>
              <li><strong> Backend: </strong> Empowered by Node.js and the Express module, the backend forms the backbone of server-side functionalities, providing a resilient and scalable infrastructure.</li>
              <li><strong>Data Storage: </strong>Leveraging the flexibility of MongoDB, the application utilizes this NoSQL database to efficiently manage user data, embracing a containerized approach for enhanced flexibility and ease of deployment.</li>
              
            </li>
            <br><br>
            <h3>Dockerization for Consistency:</h3>
            <p>A pivotal aspect of this demonstration lies in the containerization of all components through Docker. This approach not only ensures a consistent environment across diverse systems but also simplifies the deployment process, making it more accessible and efficient.</p>
           <br><br>
           <h3>Step-by-Step Deployment:</h3>
           <p>The demonstration offers a comprehensive guide for deploying the application locally and through Docker Compose. From setting up a Docker network to initiating MongoDB and the web-based MongoDB admin interface (Mongo Express), each step is meticulously outlined. The demonstration seamlessly transitions between local deployment and Docker Compose, illustrating the adaptability and convenience that containerization brings to the development lifecycle.</p>
           <br><br>
           <h3>Docker Image Build:</h3>
           <p>The exploration extends to the creation of a Docker image with a straightforward command: <code>docker build -t my-app:1.0 ..</code> This process encapsulates the application and its dependencies, offering a portable and reproducible image ready for deployment across diverse environments.</p>
           <br><br>
           <p>As we delve into this demonstration, we embark on a journey to comprehend the pivotal role Docker plays in modern development practices. From local development to containerized deployment, this application showcases the power of Docker in fostering consistency, scalability, and efficiency throughout the software development lifecycle.</p>

             

            
          </div>
        </div>

      </div>
    </section><!-- End Portfolio Details Section -->

  </main><!-- End #main -->

  <!-- ======= Footer ======= -->
  <footer id="footer">
    <div class="container">
      <div class="copyright">
        <strong><span>Aman Tamboli</span></strong>
      </div>

    </div>
  </footer><!-- End  Footer -->

  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i
      class="bi bi-arrow-up-short"></i></a>

  <!-- Vendor JS Files -->
  <script src="assets/vendor/purecounter/purecounter.js"></script>
  <script src="assets/vendor/aos/aos.js"></script>
  <script src="assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="assets/vendor/glightbox/js/glightbox.min.js"></script>
  <script src="assets/vendor/isotope-layout/isotope.pkgd.min.js"></script>
  <script src="assets/vendor/swiper/swiper-bundle.min.js"></script>
  <script src="assets/vendor/typed.js/typed.min.js"></script>
  <script src="assets/vendor/waypoints/noframework.waypoints.js"></script>
  <script src="assets/vendor/php-email-form/validate.js"></script>

  <!-- Template Main JS File -->
  <script src="assets/js/main.js"></script>

</body>

</html>