<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Aman Tamboli: monitoring App With K8s</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="../assets/img/mylogo.png" rel="icon">
  <link href="../assets/img/apple-touch-icon.png" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link
    href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i"
    rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="../assets/vendor/aos/aos.css" rel="stylesheet">
  <link href="../assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="../assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
  <link href="../assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
  <link href="../assets/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
  <link href="../assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="../assets/css/style.css" rel="stylesheet">

  <!-- =======================================================
  * Template Name: iPortfolio - v3.7.0
  * Template URL: https://bootstrapmade.com/iportfolio-bootstrap-portfolio-websites-template/
  * Author: BootstrapMade.com
  * License: https://bootstrapmade.com/license/
  ======================================================== -->
  <style>
    .mar{
        margin-left: 20px;
    }
    ul {
        margin-left: 20px;
    }
  </style>
</head>

<body>

  <!-- ======= Mobile nav toggle button ======= -->
  <i class="bi bi-list mobile-nav-toggle d-xl-none"></i>

  <!-- ======= Header ======= -->
  <header id="header">
    <div class="d-flex flex-column">

      <div class="profile">
        <img
          src="https://media-exp1.licdn.com/dms/image/C5603AQG3mb6Bc3Xt7g/profile-displayphoto-shrink_800_800/0/1639914440970?e=1656547200&v=beta&t=l0joowazqiix-1mie-mZWwQ-LQXD8ti0ao4_IFDDlk4"
          alt="" class="img-fluid rounded-circle">
        <h1 class="text-light"><a href="index.html">Aman Tamboli</a></h1>
        <div class="social-links mt-3 text-center">
          <a href="https://github.com/amantamboli/" class="twitter" target="_blank"><i class="bx bxl-github"></i></a>
          <a href="https://t.me/tamboliaman" class="telegram"><i class="bx bxl-telegram" target="_blank"></i></a>
          <a href="https://www.linkedin.com/in/amantamboli/" class="linkedin"><i class="bx bxl-linkedin"
              target="_blank"></i></a>
          <a href="mailto: amantamboli7781@gmail.com" class="linkedin"><i class="bx bx-envelope"
              target="_blank"></i></a>
        </div>
      </div>

      <nav id="navbar" class="nav-menu navbar">
        <ul>
          <li><a href="#hero" class="nav-link scrollto active"><i class="bx bx-home"></i> <span>Home</span></a></li>
          <li><a href="#about" class="nav-link scrollto"><i class="bx bx-user"></i> <span>About</span></a></li>
          <li><a href="#resume" class="nav-link scrollto"><i class="bx bx-file-blank"></i> <span>Resume</span></a></li>
          <li><a href="#portfolio" class="nav-link scrollto"><i class="bx bx-book-content"></i>
              <span>Portfolio</span></a></li>
          <li><a href="#contact" class="nav-link scrollto"><i class="bx bx-envelope"></i> <span>Contact</span></a></li>
        </ul>
      </nav><!-- .nav-menu -->
    </div>
  </header><!-- End Header -->

  <main id="main">

    <!-- ======= Breadcrumbs ======= -->
    <section id="breadcrumbs" class="breadcrumbs">
      <div class="container">

        <div class="d-flex justify-content-between align-items-center">
          <h2>A Monitoring application with Flask, psutil, Docker, ECR, and EKS Orchestration</h2>
          <ol>
            <li><a href="https://github.com/amantamboli/cloud-native-monitoring-app">View GitHub</a></li>
            
          </ol>
        </div>

      </div>
    </section><!-- End Breadcrumbs -->

    <!-- ======= Portfolio Details Section ======= -->
    <section id="portfolio-details" class="portfolio-details">
      
      <div class="container">
        <div class="row gy-4">

          <div class="col-lg">
            <div class="portfolio-details-slider swiper">
              <div class="swiper-wrapper align-items-center">

                <div class="swiper-slide">
                  <img src="../assets/img/devpos/monitoring.png" alt="">
                </div>

              </div>
              <div class="swiper-pagination"></div>
            </div>
          </div>

          <div class="col-lg-4">
            <div class="portfolio-description">
              <h2>Introdcution</h2>
              <p>
                The Cloud-Native Web Voting Application is a modern, scalable, and secure solution that enables users to cast votes for their preferred programming language through a web interface. Leveraging Kubernetes for orchestration and management, the application ensures high availability, scalability, and efficient resource utilization.

              </p>
            </div>


          </div>

        </div>
        <div class="row gy-4">
          <div class="portfolio-info">
            <h3>Technical Stack:</h3>
            <ol>
              <li><strong> Part 1: Deploying the Flask application locally</strong>
                <ol class="mar">
                    <li><strong>Step 1: Clone the code</strong>: Clone the code from the repository</li>
                    <li><strong>Step 2: Install dependencies</strong>: The application uses the psutil and Flask, Plotly, boto3 libraries. Install them using pip</li>
                    <li><strong>Step 3: Run the application</strong>To run the application, navigate to the root directory of the project and execute the following command: <code>python3 app.py</code></li>
                </ol> 
            </li>
              <li><strong> Part 2: Dockerizing the Flask application</strong>
                <ol class="mar">
                    <li><strong>Step 1: Create a Dockerfile</strong>: Create a Dockerfile in the root directory for app.py</li>
                    <li><strong>Step 2: Build the Docker image</strong>:To build the Docker image, execute the following command: <code>docker run -p 5000:5000 <image_name></image_name></code></li>
                    <li><strong>Step 3: Run the Docker container</strong></li>
                </ol> 
            </li>
            </li>
              <li><strong> Part 3: Pushing the Docker image to ECR</strong>
                <ol class="mar">
                    <li><strong>Step 1: Create an ECR repository</strong>: Create an ECR repository using ecr.py</li>
                    <li><strong> Step 2: Push the Docker image to ECR </strong>: Push the Docker image to ECR using the push commands on the console: <code>docker push <ecr_repo_uri>:<tag></tag></code></li>
                </ol> 
            </li>
            </li>
              <li><strong>Part 4: Creating an EKS cluster and deploying the app using Python </strong>
                <ol class="mar">
                    <li><strong>Step 1: Create an EKS cluster</strong>: Create an EKS cluster and add node group</li>
                    <li><strong>Step 2: Create a node group</strong>: Create a node group in the EKS cluster.</li>
                    <li><strong>Step 3: Create deployment and service</strong> Once you run this file by running “python3 eks.py” deployment and service will be created.
                        Check by running following commands: <code>kubectl get deployment -n default (check deployments)
                            <br>kubectl get service -n default (check service)
                           <br> kubectl get pods -n default (to check the pods)</code></li>
                </ol> 
            </li>
             

            
          </div>
        </div>

      </div>
    </section><!-- End Portfolio Details Section -->

  </main><!-- End #main -->

  <!-- ======= Footer ======= -->
  <footer id="footer">
    <div class="container">
      <div class="copyright">
        <strong><span>Aman Tamboli</span></strong>
      </div>

    </div>
  </footer><!-- End  Footer -->

  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i
      class="bi bi-arrow-up-short"></i></a>

  <!-- Vendor JS Files -->
  <script src="assets/vendor/purecounter/purecounter.js"></script>
  <script src="assets/vendor/aos/aos.js"></script>
  <script src="assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="assets/vendor/glightbox/js/glightbox.min.js"></script>
  <script src="assets/vendor/isotope-layout/isotope.pkgd.min.js"></script>
  <script src="assets/vendor/swiper/swiper-bundle.min.js"></script>
  <script src="assets/vendor/typed.js/typed.min.js"></script>
  <script src="assets/vendor/waypoints/noframework.waypoints.js"></script>
  <script src="assets/vendor/php-email-form/validate.js"></script>

  <!-- Template Main JS File -->
  <script src="assets/js/main.js"></script>

</body>

</html>