<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Aman Tamboli: StudyHub Project Detail</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="../assets/img/mylogo.png" rel="icon">
  <link href="../assets/img/apple-touch-icon.png" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="../assets/vendor/aos/aos.css" rel="stylesheet">
  <link href="../assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="../assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
  <link href="../assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
  <link href="../assets/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
  <link href="../assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="../assets/css/style.css" rel="stylesheet">

  <!-- =======================================================
  * Template Name: iPortfolio - v3.7.0
  * Template URL: https://bootstrapmade.com/iportfolio-bootstrap-portfolio-websites-template/
  * Author: BootstrapMade.com
  * License: https://bootstrapmade.com/license/
  ======================================================== -->
</head>

<body>

  <!-- ======= Mobile nav toggle button ======= -->
  <i class="bi bi-list mobile-nav-toggle d-xl-none"></i>

   <!-- ======= Header ======= -->
   <header id="header">
    <div class="d-flex flex-column">

      <div class="profile">
        <img src="../assets/img/mylogo.png" alt="" class="img-fluid rounded-circle">
        <h1 class="text-light"><a href="index.html">Aman Tamboli</a></h1>
        <div class="social-links mt-3 text-center">
          <a href="https://github.com/amantamboli/" class="twitter" target="_blank"><i class="bx bxl-github"></i></a>
          <a href="https://t.me/tamboliaman" class="telegram"><i class="bx bxl-telegram" target="_blank"></i></a>
          <a href="https://www.linkedin.com/in/amantamboli/" class="linkedin"><i class="bx bxl-linkedin" target="_blank"></i></a>
          <a href="mailto: amantamboli7781@gmail.com" class="linkedin"><i class="bx bx-envelope" target="_blank"></i></a>
        </div>
      </div>

      <nav id="navbar" class="nav-menu navbar">
        <ul>
          <li><a href="../index.html" class="nav-link scrollto active"><i class="bx bx-home"></i> <span>Home</span></a></li>
          <li><a href="../index.html" class="nav-link scrollto"><i class="bx bx-user"></i> <span>About</span></a></li>
          <li><a href="../index.html" class="nav-link scrollto"><i class="bx bx-file-blank"></i> <span>Resume</span></a></li>
          <li><a href="../index.html" class="nav-link scrollto"><i class="bx bx-book-content"></i>
              <span>Portfolio</span></a></li>
              <li><a href="../index.html" class="nav-link scrollto"><i class="bx bx-envelope"></i> <span>Contact</span></a></li>
        </ul>
      </nav><!-- .nav-menu -->
    </div>
  </header><!-- End Header -->

  <main id="main">

    <!-- ======= Breadcrumbs ======= -->
    <section id="breadcrumbs" class="breadcrumbs">
      <div class="container">

        <div class="d-flex justify-content-between align-items-center">
          <h2>StudyHub Project Details</h2>
          <a href="https://bit.ly/studyhubdjango">Visit Website</a>
         
        </div>

      </div>
    </section><!-- End Breadcrumbs -->

    <!-- ======= Portfolio Details Section ======= -->
    <section id="portfolio-details" class="portfolio-details">
      <div class="container">

        <div class="row gy-4">

          <div class="col-lg">
            <div class="portfolio-details-slider swiper">
              <div class="swiper-wrapper align-items-center">

                <div class="swiper-slide">
                  <img src="../assets/img/homepage.png" alt="homepage">
                </div>

                <div class="swiper-slide">
                  <img src="../assets/img/homework.png" alt="">
                </div>

                <div class="swiper-slide">
                  <img src="../assets/img/books.png" alt="">
                </div>
                <div class="swiper-slide">
                  <img src="../assets/img/notes.png" alt="">
                </div>
                <div class="swiper-slide">
                  <img src="../assets/img/youtube.png" alt="">
                </div>
                

              </div>
              <div class="swiper-pagination"></div>
            </div>
          </div>

          

        </div>
        <div class="col-lg">
          <div class="portfolio-description">
            <h2>Introduction</h2>
            <p>
              StudyHub is a web application designed to simplify academic life for students. With StudyHub, students can efficiently manage their academic tasks and schedules, saving valuable time and enjoying numerous benefits. This all-in-one dashboard combines essential features such as creating to-do lists, managing homework assignments, taking notes, accessing book search, Wikipedia, YouTube videos, and a dictionary. Available 24/7, StudyHub is accessible on mobile phones, laptops, and other devices with an internet connection. By providing a centralized platform for academic organization and resources, StudyHub aims to enhance students' productivity and make their lives easier.
            </p>
          </div>
          <div class="portfolio-info">
            <h3>Features</h3>
           
            <ol>
              <li> Provide students with centralized access to their study material.</li>
              <li>Students can make their notes and To-Do list.</li>
              <li>Student will able to search any books using this portal</li>
              <li>Students can track their homework status.(Complete/incomplete).</li>
              <li>Students can also use Dictionaries and Wikipedia in the same portal.</li>
              <li>Students can also save unfinished or Scheduled youtube tutorial videos.</li>
            </ol>
          
          </div>
          <div class="portfolio-info">
            <h3>Technology Used:</h3>
            <ul>
              <li>Python</li>
              <li>Django</li>
              <li>JavaScript</li>
            </ul>
          </div>
          <div class="portfolio-description">
            <h2>Links To</h2>
            <p>
              <a href="https://github.com/amantamboli/studyhub">Github</a>
              
            </p>
            <a href="https://bit.ly/studyhubdjango">Website</a>
          </div>
        </div>

      </div>
    </section><!-- End Portfolio Details Section -->

  </main><!-- End #main -->

  <!-- ======= Footer ======= -->
  <footer id="footer">
    <div class="container">
      <div class="copyright">
         <strong><span>Aman Tamboli</span></strong>
      </div>

    </div>
  </footer><!-- End  Footer -->

  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <!-- Vendor JS Files -->
  <script src="../assets/vendor/purecounter/purecounter.js"></script>
  <script src="../assets/vendor/aos/aos.js"></script>
  <script src="../assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="../assets/vendor/glightbox/js/glightbox.min.js"></script>
  <script src="../assets/vendor/isotope-layout/isotope.pkgd.min.js"></script>
  <script src="../assets/vendor/swiper/swiper-bundle.min.js"></script>
  <script src="../assets/vendor/typed.js/typed.min.js"></script>
  <script src="../assets/vendor/waypoints/noframework.waypoints.js"></script>
  <script src="../assets/vendor/php-email-form/validate.js"></script>

  <!-- Template Main JS File -->
  <script src="../assets/js/main.js"></script>

</body>

</html>