<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Aman Tamboli: StudiTalk Project Detail</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="../assets/img/mylogo.png" rel="icon">
  <link href="../assets/img/apple-touch-icon.png" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="../assets/vendor/aos/aos.css" rel="stylesheet">
  <link href="../assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="../assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
  <link href="../assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
  <link href="../assets/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
  <link href="../assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="../assets/css/style.css" rel="stylesheet">

  <!-- =======================================================
  * Template Name: iPortfolio - v3.7.0
  * Template URL: https://bootstrapmade.com/iportfolio-bootstrap-portfolio-websites-template/
  * Author: BootstrapMade.com
  * License: https://bootstrapmade.com/license/
  ======================================================== -->
</head>

<body>

  <!-- ======= Mobile nav toggle button ======= -->
  <i class="bi bi-list mobile-nav-toggle d-xl-none"></i>

   <!-- ======= Header ======= -->
   <header id="header">
    <div class="d-flex flex-column">

      <div class="profile">
        <img src="../assets/img/mylogo.png" alt="" class="img-fluid rounded-circle">
        <h1 class="text-light"><a href="index.html">Aman Tamboli</a></h1>
        <div class="social-links mt-3 text-center">
          <a href="https://github.com/amantamboli/" class="twitter" target="_blank"><i class="bx bxl-github"></i></a>
          <a href="https://t.me/tamboliaman" class="telegram"><i class="bx bxl-telegram" target="_blank"></i></a>
          <a href="https://www.linkedin.com/in/amantamboli/" class="linkedin"><i class="bx bxl-linkedin" target="_blank"></i></a>
          <a href="mailto: amantamboli7781@gmail.com" class="linkedin"><i class="bx bx-envelope" target="_blank"></i></a>
        </div>
      </div>

      <nav id="navbar" class="nav-menu navbar">
        <ul>
          <li><a href="../index.html" class="nav-link scrollto active"><i class="bx bx-home"></i> <span>Home</span></a></li>
          <li><a href="../index.html" class="nav-link scrollto"><i class="bx bx-user"></i> <span>About</span></a></li>
          <li><a href="../index.html" class="nav-link scrollto"><i class="bx bx-file-blank"></i> <span>Resume</span></a></li>
          <li><a href="../index.html" class="nav-link scrollto"><i class="bx bx-book-content"></i>
              <span>Portfolio</span></a></li>
              <li><a href="../index.html" class="nav-link scrollto"><i class="bx bx-envelope"></i> <span>Contact</span></a></li>
        </ul>
      </nav><!-- .nav-menu -->
    </div>
  </header><!-- End Header -->

  <main id="main">

    <!-- ======= Breadcrumbs ======= -->
    <section id="breadcrumbs" class="breadcrumbs">
      <div class="container">

        <div class="d-flex justify-content-between align-items-center">
          <h2>StudiTalk Project Details</h2>
          <!-- <a href="https://bit.ly/StudyTalkApp">Visit Website</a> -->
         
        </div>

      </div>
    </section><!-- End Breadcrumbs -->

    <!-- ======= Portfolio Details Section ======= -->
    <section id="portfolio-details" class="portfolio-details">
      <div class="container">

        <div class="row gy-4">

          <div class="col-lg">
            <div class="portfolio-details-slider swiper">
              <div class="swiper-wrapper align-items-center">

                <div class="swiper-slide">
                  <img src="../assets/img/chatapp/chat_index.png" alt="homepage">
                </div>

                <div class="swiper-slide">
                  <img src="../assets/img/chatapp/chat_screen.png" alt="">
                </div>

                <div class="swiper-slide">
                  <img src="../assets/img/chatapp/edit_profile.png" alt="">
                </div>
                <div class="swiper-slide">
                  <img src="../assets/img/chatapp/chat_createacc.png" alt="">
                </div>
                
                

              </div>
              <div class="swiper-pagination"></div>
            </div>
          </div>

          

        </div>
        <div class="col-lg">
          <div class="portfolio-description">
            <h2>Introduction</h2>
            <p>
              The primary goal of this chat application is to connect students with similar interests, fostering a supportive and engaging environment. Many students encounter challenges when seeking answers to their doubts, often hesitating to approach teachers directly. This application addresses that issue by allowing students to interact with peers who share their interests. Users can specify their preferences or interests to initiate chats with like-minded students. To utilize this application, users are required to create an account, enabling them to access its features and connect with others. By facilitating communication among students, this application aims to create a platform where knowledge-sharing and learning thrive.
            </p>
          </div>
          <div class="portfolio-info">
            <h3>Features</h3>
           
            <ol>
               <li> Fast and Secure</li>
               <li>Reliable</li>
                <li>Responsive Design</li>
                <li>Cross platform</li>
            </ol>
          
          </div>
          <div class="portfolio-info">
            <h3>Technology Used:</h3>
            <ol>
              <li>PHP</li>
              <li>JavaScript</li>
              <li>Psql</li>
             
            </ol>
          </div>
          <div class="portfolio-description">
            <h2>Links To</h2>
            <p>
              <a href="https://github.com/amantamboli/studitalk">Github</a>
              
            </p>
            <!-- <a href="https://bit.ly/StudyTalkApp">Website</a> -->
          </div>
        </div>

      </div>
    </section><!-- End Portfolio Details Section -->

  </main><!-- End #main -->

  <!-- ======= Footer ======= -->
  <footer id="footer">
    <div class="container">
      <div class="copyright">
         <strong><span>Aman Tamboli</span></strong>
      </div>

    </div>
  </footer><!-- End  Footer -->

  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <!-- Vendor JS Files -->
  <script src="../assets/vendor/purecounter/purecounter.js"></script>
  <script src="../assets/vendor/aos/aos.js"></script>
  <script src="../assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="../assets/vendor/glightbox/js/glightbox.min.js"></script>
  <script src="../assets/vendor/isotope-layout/isotope.pkgd.min.js"></script>
  <script src="../assets/vendor/swiper/swiper-bundle.min.js"></script>
  <script src="../assets/vendor/typed.js/typed.min.js"></script>
  <script src="../assets/vendor/waypoints/noframework.waypoints.js"></script>
  <script src="../assets/vendor/php-email-form/validate.js"></script>

  <!-- Template Main JS File -->
  <script src="../assets/js/main.js"></script>

</body>

</html>